<!DOCTYPE html>
<html lang="en" >
  <head>
    <title>Angular Material - Starter App</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />

    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto:400,500,700,400italic'>
    <link rel="stylesheet" href="./bower_components/angular-material/angular-material.css"/>
    <link rel="stylesheet" href="css/main.css"/>
  </head>


  <script type="text/javascript">

      function appStart(){
        var ROOT = 'http://localhost:8080/_ah/api';
        gapi.client.load('banks', 'v1', function() {

        gapi.client.banks.list().then(function(response){


            console.log("Response:", response.result);
        }, function(reason){
          console.console.log("Reason:", reason);

        });
}, ROOT);
      };
  </script>
    <body ng-app="starterApp" layout="column">

    <!-- Container #2 -->
    <div flex layout="row">

        <!-- Container #3 -->

        <md-sidenav md-is-locked-open="$mdMedia('gt-sm')" class="md-whiteframe-z2" md-component-id="left">

          <!-- User list #3 -->
          <md-list>

            <md-item ng-repeat="employee in employeeController.employees">
              <md-button ng-click="employeeController.selectEmployee(employee)"ng-class="{'selected' : employee === employeeController.selected }">
                  <md-icon md-svg-src="assets/svg/{{employee.avatar}}.svg" class="avatar"></md-icon>
                  {{employee.name}}
                </md-button>
            </md-item>

          </md-list>
   
        </md-sidenav>

        <!-- Container #4 -->
        <md-content flex id="content">
          <!-- Container #1 (see wireframe) -->
         <md-toolbar layout="row">
            <md-button class="menu" hide-gt-sm ng-click="employeeController.toggleUsersList()">
              <md-icon md-svg-icon="menu" ></md-icon>
            </md-button>
            <h1>Cantomate</h1>
          </md-toolbar>

        </md-content>



    </div>
    <!-- bower:js -->
    <!-- endinject -->

  <!-- Load App Logic -->
  <script src="javascript/app.js"></script>


  <script type="text/javascript">
      angular
          .module('starterApp', [ 'ngMaterial'])
          .run(function($log){
            $log.debug("startApp + ngMaterial running ");
          });
    </script>

  </body>
</html>
